// Global styles */

// Glue footer to the bottom
html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}
// END/ Glue footer to the bottom

ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	color: $defaultColor;
	line-height: normal;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 0.9375rem; // 0 15px
}

img {
	object-fit: cover;
}

// Button
.btn {
	font-family: 'Comfortaa', sans-serif;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	transition: all 0.3x ease;
}

// Popup button
.popup-btn {
	text-align: center;
	border: none;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	& span {
		padding-top: 0.75rem;
		display: block;
		color: $whiteColor;
		transition: color 0.3s;
	}
	& path,
	& circle {
		transition: all 0.3s;
	}
	&:hover path {
		fill: $greenColor;
	}
	&:hover circle {
		stroke: $greenColor;
	}
	&:hover span {
		color: $blueColor;
	}
}

.title {
	font-family: 'Comfortaa', sans-serif;
	font-size: 3.75rem;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}

ol.technology__list {
	list-style-type: decimal;
}
